@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;  
    height: 100%;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.logo {
    width: 80px;
    object-fit: contain;
    
}

.avatar {
    width: 30px;
    object-fit: contain;
}

.banner {
    background-image: url('../img/64da6ee7a7aece88b5011d11_la-casa-de-papel-.jpg');
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 448px;
}

.banner__contents {
    padding-top: 140px;
    margin-left: 30px;
    height: 190px;
}



.banner__title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3em;
    
}

.banner__button {
    cursor: pointer;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 1rem;
    text-decoration: underline;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    background-color: rgba(51, 51, 51, 0.5);
    text-decoration: none;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all .2s;
}

.banner__description {
    color: white;
    text-align: justify;
    font-size: .8rem;
    margin-left: 10px;
    line-height: 1.3;
    padding-top: 1rem;
    max-width: 360px;
    height: 180px;
}

.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.6), #111);
}